# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
ENV/
env/
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python notebooks checkpoints
.ipynb_checkpoints/

# Build
dist/
build/
*.egg-info/

# Local environment files
.env
